@media (min-width: 992px) {
	body {
		font-size: 1.5rem;
	}

	.shadow {
		display: none;
	}

	.header {
		&--mobile {
			display: none;
		}

		&--desktop {
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: flex-end;
			padding: 3em 4em;

			.nav {
				margin-left: 3em;

				&__link {
					color: colors.$white;

					&::before {
						background-color: colors.$white;
					}

					&:hover::before {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	.main,
	.main-top,
	.main-bottom {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		max-width: none;
	}

	.main {
		grid-template-rows: 65vh 35vh;
		height: 100vh;

		&-top {
			grid-template-rows: 65vh;
			grid-column: 1/13;
			grid-row: 1/2;

			&__img {
				grid-column: 1/8;

				&-box {
					background-image: url('../images/desktop-image-hero-1.jpg');

					&--two {
						background-image: url('../images/desktop-image-hero-2.jpg');
					}

					&--three {
						background-image: url('../images/desktop-image-hero-3.jpg');
					}
				}
			}

			&__text {
				position: relative;
				@include flexbox(flex, flex-start, flex-start, column);
				grid-column: 8/13;
				grid-row: 1/2;

				.carousel-btns {
					top: 87%;
					left: 0;
					width: 20%;
					height: 13%;
				}
			}

			&__description {
				padding: 6em;

				&-title {
					font-size: 5rem;
				}
			}
		}

		&-bottom {
			grid-template-rows: 35vh;

			&__img {
				&--one {
					grid-column: 1/4;
					grid-row: 1/2;
				}
				&--two {
					grid-column: 9/13;
					grid-row: 1/2;
				}

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			&__text {
				@include flexbox(flex, flex-start, center, column);
				grid-column: 4/9;
				grid-row: 1/2;
				padding: 4em;

				&-title {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 1600px) {
	.main,
	.header {
		max-width: 2200px;
		margin: 0 auto;
	}

	.main {
		&-top {
			&__text {
				&-title {
					margin-bottom: 1em;
				}
				&-info {
					font-size: 1.8rem;
					margin-bottom: 5rem;
				}

				&-btn {
					font-size: 2rem;
				}
			}
		}

		&-bottom {
			&__text {
				&-title {
					font-size: 2.5rem;
				}

				&-info {
					font-size: 1.8rem;
				}
			}
		}
	}
}
